run = "bash start.sh"
entrypoint = "src/main.js"

[nix]
channel = "stable-24_05"

[nix.packages]
nodejs = "nodejs_20"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin:./node_modules/.bin:/nix/store/nodejs_20/bin:$PATH"

[deployment]
run = ["sh", "-c", "bash start.sh"]
