entrypoint = "package.json"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
deploymentTarget = "static"
publicDir = "dist"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "IDSR Web"

[[workflows.workflow]]
name = "IDSR Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run serve"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001

[agent]
expertMode = true
