.alertify-notifier .ajs-message {
  font-family: "TuFuenteFavorita", sans-serif;
}

.ajs-header {
  font-family: "TuFuenteFavorita", sans-serif;
}

.ajs-content {
  font-family: "TuFuenteFavorita", sans-serif;
}

.ajs-footer {
  font-family: "TuFuenteFavorita", sans-serif;
}
